<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.jchat.android"
    android:versionCode="34"
    android:versionName="1.2.1">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <permission
        android:name="io.jchat.android.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!--Required 一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="io.jchat.android.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="ANDROID.PERMISSION.MODIFY_AUDIO_SETTINGS"/>

    <!-- JMessage Demo required for record audio-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="io.jchat.android.application.JPushDemoApplication"
        android:allowBackup="true"
        android:configChanges="fontScale"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait">

        <!-- Required Push SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required Push SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="io.jchat.android" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required Push SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="io.jchat.android" />
            </intent-filter>
        </activity>
        <!-- Required Push SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required Push SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- IM Required IM SDK核心功能-->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE" />
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY" />

                <category android:name="io.jchat.android" />
            </intent-filter>
        </receiver>

        <!-- Required. Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="4f7aef34fb361292c566a1cd" />

        <activity
            android:name="io.jchat.android.activity.BaseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="io.jchat.android.activity.LoginActivity"
            android:theme="@style/notitle"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>
        <activity
            android:name="io.jchat.android.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/notitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.jchat.android.activity.RegisterActivity"
            android:theme="@style/notitle"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.jchat.android.activity.MeInfoActivity"
            android:theme="@style/notitle" />
        <activity
            android:name="io.jchat.android.activity.ChatActivity"
            android:theme="@style/notitle"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="io.jchat.android.activity.ReloginActivity"
            android:theme="@style/notitle"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name="io.jchat.android.activity.ChatDetailActivity"
            android:theme="@style/notitle" />
        <activity
            android:name="io.jchat.android.activity.GroupSettingActivity"
            android:theme="@style/group_setting_dialog" />
        <activity
            android:name="io.jchat.android.activity.FriendInfoActivity"
            android:theme="@style/notitle" />
        <activity
            android:name="io.jchat.android.activity.CreateGroupActivity"
            android:theme="@style/notitle" />
        <activity
            android:name="io.jchat.android.activity.PickPictureTotalActivity"
            android:theme="@style/notitle" />
        <activity
            android:name="io.jchat.android.activity.PickPictureActivity"
            android:theme="@style/notitle" />
        <activity
            android:name="io.jchat.android.activity.BrowserViewPagerActivity"
            android:theme="@style/notitle" />
        <activity
            android:name="io.jchat.android.activity.SettingActivity"
            android:theme="@style/notitle" />
        <activity
            android:name="io.jchat.android.activity.NotificationSettingActivity"
            android:theme="@style/notitle" />
        <activity
            android:name="io.jchat.android.activity.DisturbSettingActivity"
            android:theme="@style/notitle" />
        <activity
            android:name="io.jchat.android.activity.ResetPasswordActivity"
            android:theme="@style/notitle"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity
            android:name="io.jchat.android.activity.FixProfileActivity"
            android:theme="@style/notitle"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name="io.jchat.android.activity.ResetNickNameActivity"
            android:theme="@style/notitle"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity
            android:name="io.jchat.android.activity.SelectAreaActivity"
            android:theme="@style/notitle"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity
            android:name="io.jchat.android.activity.EditSignatureActivity"
            android:theme="@style/notitle"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity
            android:name="io.jchat.android.activity.EditNoteNameActivity"
            android:theme="@style/notitle"/>

    </application>

</manifest>
