<?xml version="1.0" encoding="utf-8"?>
<manifest package="jiguang.chat"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Required -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".application.JGApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="jchat.db"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="jiguang.chat.database.UserEntry, jiguang.chat.database.FriendEntry,
             jiguang.chat.database.FriendRecommendEntry, jiguang.chat.database.GroupApplyEntry
            , jiguang.chat.database.RefuseGroupEntry"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="4"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <!--如果需要使用到位置服务，需要更换百度地图apikey为自己的apikey-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="UAkQeBK84ioVGzYgA1rSWYfuD4xYtpmV"/>
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.BaseActivity"/>
        <activity
            android:name=".activity.FinishRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes">
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.AboutJChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <!--这里有个需要注意的地方就是,自定义的弹窗需要自定义一个theme否则系统会默认给设置padding自己设置的属性不生效-->
        <activity
            android:name=".activity.PersonalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.NickSignActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SearchForAddFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SearchFriendInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.VerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.FriendRecommendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SearchFriendDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>

        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SearchContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".utils.imagepicker.ImageBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".utils.imagepicker.ImageGridActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerTheme"/>
        <activity
            android:name=".utils.imagepicker.ImageCropActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerTheme"/>
        <activity
            android:name=".utils.imagepicker.ImagePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerThemeFullScreen"/>
        <activity
            android:name=".utils.imagepicker.ImagePreviewDelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerThemeFullScreen"/>
        <activity
            android:name=".pickerimage.PickerAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".pickerimage.PickerAlbumPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pickerimage.PickImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BrowserViewPagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.historyfile.activity.BrowserFileImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.WatchVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SendFileActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.historyfile.activity.HistoryFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.PlayVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".location.activity.MapPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".activity.FriendInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.ChatDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.MembersInChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.GroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SearchMoreFriendsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.SearchMoreGroupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.FriendSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SetNoteNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.ChooseAtMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.GroupGridViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.GroupNotFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SelectFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.DownLoadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.CreateGroupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".utils.photovideo.takevideo.CameraActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseFullTheme"/>
        <activity
            android:name=".activity.SearchGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.SearchAtMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.ForwardMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.Person2CodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.ScanResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.CommonScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.receiptmessage.ReceiptMessageListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.SearchFriendBusinessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.FriendListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.NotFriendSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.ChatRoomDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.GroupMemberListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SearchAddOpenGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.GroupInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.VerificationGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.VerificationMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.ChatRoomInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SelectCreateGroupTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.ApplyGroupInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.GroupUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SetGroupSilenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SilenceUsersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"/>
        <activity
            android:name=".activity.SearchChatRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/AppTh"/>
        <activity
            android:name=".activity.GroupAvatarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTh"/>
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="${applicationId}"
            android:exported="false" />
    </application>

</manifest>
